<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>        
        
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dctddb</property>
        <property name="hibernate.connection.username">dctd_user</property>
        <property name="hibernate.connection.password">dctd_pass</property>
        
        <!--
        <property name="hibernate.connection.url">jdbc:postgresql://ncidb-d080-v:5473/dctddatasystem</property>
        <property name="hibernate.connection.username">dctddatasystem</property>
        <property name="hibernate.connection.password">Data2982Dtcd002sys</property>
        -->
        
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
        <!-- androMDA-generated mappings -->
        <mapping resource="androdomain/AdHocCmpdFragment.hbm.xml"/>
        <mapping resource="androdomain/AdHocCmpdFragmentPChem.hbm.xml"/>
        <mapping resource="androdomain/AdHocCmpdFragmentStructure.hbm.xml"/>
        <mapping resource="androdomain/CmpdAlias.hbm.xml"/>
        <mapping resource="androdomain/CmpdAliasType.hbm.xml"/>
        <mapping resource="androdomain/CmpdBioAssay.hbm.xml"/>
        <mapping resource="androdomain/CmpdFragment.hbm.xml"/>
        <mapping resource="androdomain/CmpdFragmentPChem.hbm.xml"/>
        <mapping resource="androdomain/CmpdFragmentStructure.hbm.xml"/>
        <mapping resource="androdomain/Cmpd.hbm.xml"/>
        <mapping resource="androdomain/CmpdInventory.hbm.xml"/>
        <mapping resource="androdomain/CmpdKnownSalt.hbm.xml"/>
        <mapping resource="androdomain/CmpdList.hbm.xml"/>
        <mapping resource="androdomain/CmpdListMember.hbm.xml"/>
        <mapping resource="androdomain/CmpdPlate.hbm.xml"/>
        <mapping resource="androdomain/CmpdProject.hbm.xml"/>
        <mapping resource="androdomain/CmpdPubChemSid.hbm.xml"/>
        <mapping resource="androdomain/CmpdRelated.hbm.xml"/>
        <mapping resource="androdomain/CmpdRelationType.hbm.xml"/>
        <mapping resource="androdomain/CmpdSet.hbm.xml"/>
        <mapping resource="androdomain/CmpdTarget.hbm.xml"/>
        <mapping resource="androdomain/RdkitMol.hbm.xml"/>
        <mapping resource="androdomain/StandardizedSmiles.hbm.xml"/>
        <mapping resource="androdomain/CmpdView.hbm.xml"/>
        <!-- -->
    
        <!-- hibernate reverse engineered
        <mapping resource="hib/CmpdFragment.hbm.xml"/>
        <mapping resource="hib/CmpdList.hbm.xml"/>
        <mapping resource="hib/CmpdFragmentStructure.hbm.xml"/>
        <mapping resource="hib/CmpdPlate.hbm.xml"/>
        <mapping resource="hib/CmpdSet.hbm.xml"/>
        <mapping resource="hib/CmpdRelated.hbm.xml"/>
        <mapping resource="hib/CmpdInventory.hbm.xml"/>
        <mapping resource="hib/RdkitMol.hbm.xml"/>
        <mapping resource="hib/AdHocCmpd.hbm.xml"/>
        <mapping resource="hib/AdHocCmpdFragmentStructure.hbm.xml"/>
        <mapping resource="hib/CmpdListMember.hbm.xml"/>
        <mapping resource="hib/CmpdTarget.hbm.xml"/>
        <mapping resource="hib/CmpdRelationType.hbm.xml"/>
        <mapping resource="hib/CmpdBioAssay.hbm.xml"/>
        <mapping resource="hib/CmpdPubChemSid.hbm.xml"/>
        <mapping resource="hib/AdHocCmpdFragment.hbm.xml"/>
        <mapping resource="hib/NscCmpd.hbm.xml"/>
        <mapping resource="hib/CmpdAliasType.hbm.xml"/>
        <mapping resource="hib/Cmpd.hbm.xml"/>
        <mapping resource="hib/CmpdProject.hbm.xml"/>
        <mapping resource="hib/StandardizedSmiles.hbm.xml"/>
        <mapping resource="hib/CmpdKnownSalt.hbm.xml"/>
        <mapping resource="hib/CmpdFragmentPChem.hbm.xml"/>
        <mapping resource="hib/CmpdAlias.hbm.xml"/>
        <mapping resource="hib/AdHocCmpdFragmentPChem.hbm.xml"/>    
        -->
    
    </session-factory>
</hibernate-configuration>
