/* trying to address the weird pre-pended white space in autoComplete text input */
.ui-autocomplete {
  white-space: nowrap;
}

.ui-commandlink:focus{
    color: red !important; 
    font-size: xx-large !important; 
    /* text-decoration: underline !important; */
    border: dotted !important;
}

.ui-button:focus{
    color: red !important; 
    font-size: xx-large !important; 
    /* text-decoration: underline !important; */
    border: dotted !important;
}

.ui-autocomplete-input:focus{
    color: red !important; 
    font-size: xx-large !important; 
    /* text-decoration: underline !important; */
    border: dotted !important;
}

a:focus { 
    color: red !important; 
    font-size: xx-large !important; 
    text-decoration:underline !important; 
    border: dotted !important;
}

a:active {
    font-weight: bold; 
    /* text-decoration: underline; */
}

textarea:focus { 
    border-width: thick; 
    border-color: red;}

/* MWK no fieldset border to try to tidy pages */    
.ui-fieldset {
    border: none;
}    

/* MWK so that fieldset legends don't look like buttons */
.ui-fieldset .ui-fieldset-legend {
    background-color: transparent;
}

/* adding hard-coded color to overcome weird column value colors on heat maps */
.ui-datatable th, .ui-datatable tfoot td {
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    text-align: center;
    white-space: nowrap;
    background-color: #C4C4C4 !important;
}

.jqplot-yaxis-label {
    margin-right: 10px;
    /*text-align: center;*/
    font-size: 11pt;
    position: absolute;
    color: red;
}


table.jqplot-cursor-tooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
    color: black;
}

.jqplot-cursor-tooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
    white-space: nowrap;
    background: rgba(0, 0, 0, 1);
    padding: 1px;
    color: black;
}

/* MWK borderless panels */
.borderlessPanelGrid tr, .borderlessPanelGrid td {
    border:none !important;
}

/* MWK unpadded table for heatMap */
.unpaddedTable {
    border-spacing: 0px;
}

/*
 #    #  ######  #    #  #    #  #####     ##    #####    ####
 ##  ##  #       ##   #  #    #  #    #   #  #   #    #  #
 # ## #  #####   # #  #  #    #  #####   #    #  #    #   ####
 #    #  #       #  # #  #    #  #    #  ######  #####        #
 #    #  #       #   ##  #    #  #    #  #    #  #   #   #    #
 #    #  ######  #    #   ####   #####   #    #  #    #   ####
*/

ul.ui-menu-child {
  white-space: nowrap;
  width: auto !important;
}

.ui-menuitem-text {
	padding: 1em;
	background-color: white;
	color: blue;
  font-size: 1em;
  font-weight: bold;  
}


/*
 #####    ####    #####    ##     #####  ######
 #    #  #    #     #     #  #      #    #
 #    #  #    #     #    #    #     #    #####
 #####   #    #     #    ######     #    #
 #   #   #    #     #    #    #     #    #
 #    #   ####      #    #    #     #    ######
*/

/* Styles for rotateTableCellContent plugin*/
table div.rotated {
  -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */    
}

thead th {
  vertical-align:bottom;
}

table .vertical {
  white-space:nowrap;
  background-color:white;
}