<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

  <session-factory>       
    
    <!-- MWK 12Jan2015, these are kinda' old.   Need to compare with current
         versions from androMDA -->
       
    <!-- MWK local copy modified to remove generator on id -->        
    <mapping resource="CmpdTable.hbm.xml"/>        
    
    <!-- MWK local copy modified for subselect on CmpdListMembers -->  
    <mapping resource="CmpdList.hbm.xml"/>
            
    <!-- MWK local copy modified to change cascade to none from clm to cmpd -->        
    <mapping resource="CmpdListMember.hbm.xml"/>

    <!-- MWK 12Jan2015 local copy lazy=false on subclasses, fetch=join on many-to-one
    and fetch=subselect on sets -->
                    
    <mapping resource="Cmpd.hbm.xml"/>
       
    <!-- androMDA mappings -->   
    
    <mapping resource="mwk/datasystem/domain/RdkitMol.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdAlias.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdAliasType.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdBioAssay.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdFragment.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdFragmentType.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdPubChemSid.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdRelated.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdRelationType.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdFragmentStructure.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdKnownSalt.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdInventory.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdTarget.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/AdHocCmpdFragment.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/AdHocCmpdFragmentStructure.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdPlate.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdNamedSet.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdProject.hbm.xml"/>
    
    <mapping resource="mwk/datasystem/domain/CmpdAnnotation.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdLegacyCmpd.hbm.xml"/>        
    <mapping resource="mwk/datasystem/domain/AdHocCmpdFragmentPChem.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/CmpdFragmentPChem.hbm.xml"/>
    <mapping resource="mwk/datasystem/domain/NscCmpdType.hbm.xml"/>
                
       
  </session-factory>
    
</hibernate-configuration>