<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
                
        <mapping resource="mwk/datasystem/domain/AdHocCmpdFragment.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/AdHocCmpdFragmentPChem.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/AdHocCmpdFragmentStructure.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdAlias.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdAliasType.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdBioAssay.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdFragment.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdFragmentPChem.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdFragmentStructure.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/Cmpd.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdInventory.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdKnownSalt.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdList.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdListMember.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdPlate.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdProject.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdPubChemSid.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdRelated.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdRelationType.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdSet.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdTarget.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/RdkitMol.hbm.xml"/>
        <mapping resource="mwk/datasystem/domain/CmpdView.hbm.xml"/>
    </session-factory>
    
    <!--
    
    <session-factory>
        
        <mapping class="mwk.datasystem.domain.CmpdListImpl"/>
        <mapping class="mwk.datasystem.domain.RdkitMolImpl"/>
        <mapping class="mwk.datasystem.domain.NscCmpdImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdAliasImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdAliasTypeImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdBioAssayImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdFragmentImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdFragmentPChemImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdPubChemSidImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdRelatedImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdRelationTypeImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdFragmentStructureImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdKnownSaltImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdInventoryImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdTargetImpl"/>
        <mapping class="mwk.datasystem.domain.AdHocCmpdImpl"/>
        <mapping class="mwk.datasystem.domain.AdHocCmpdFragmentImpl"/>
        <mapping class="mwk.datasystem.domain.AdHocCmpdFragmentStructureImpl"/>
        <mapping class="mwk.datasystem.domain.AdHocCmpdFragmentPChemImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdPlateImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdSetImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdProjectImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdListMemberImpl"/>
        <mapping class="mwk.datasystem.domain.CmpdViewImpl"/>
    </session-factory>
    
    -->
    
</hibernate-configuration>
