.panelColumns td {
    vertical-align: top; 
} 

.ui-widget-content{
  color: black;
}

h1, h2, h3 {
    margin-bottom: 0; 
    padding-bottom: 0;
}

.ui-commandlink:focus{
    color: red !important; 
    font-size: large !important; 
    text-decoration: underline !important;
    border: dotted !important;
}

.ui-button:focus{
    color: red !important; 
    font-size: large !important; 
    text-decoration: underline !important;
    border: dotted !important;
}

.ui-autocomplete-input:focus{
    color: red !important; 
    font-size: large !important; 
    text-decoration: underline !important;
    border: dotted !important;
}

a:focus { 
    color: red !important; 
    font-size: large !important; 
    text-decoration: underline !important; 
    border: dotted !important;
}

a:active {
    font-weight: bold; 
    /* text-decoration: underline; */
}

textarea:focus { 
    border-width: thick; 
    border-color: red;}

.borderlessPanelGrid tr, .borderlessPanelGrid td {
  border: none !important;
}

/* adding hard-coded color to overcome weird column value colors on heat maps

MWK 29FEB2016, seems to no longer be needed...

.ui-datatable th, .ui-datatable tfoot td {
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    text-align: center;
    white-space: nowrap;
    background-color: #C4C4C4 !important;
}
 */

/* MWK unpadded table for heatMap */
.unpaddedTable td{
    border-spacing: 0px;
}

/*
 #    #  ######  #    #  #    #  #####     ##    #####    ####
 ##  ##  #       ##   #  #    #  #    #   #  #   #    #  #
 # ## #  #####   # #  #  #    #  #####   #    #  #    #   ####
 #    #  #       #  # #  #    #  #    #  ######  #####        #
 #    #  #       #   ##  #    #  #    #  #    #  #   #   #    #
 #    #  ######  #    #   ####   #####   #    #  #    #   ####
*/

ul.ui-menu-child {
  white-space: nowrap;
  width: auto !important;
}

.ui-menubar {
  background-color: white;
}

.ui-menuitem-icon {
  width: auto !important;
  height: auto !important;
}

.ui-menuitem-text {
	padding: 0.5em;
	background-color: blue;
	color: white;
}

.redMenuItem .ui-menuitem-text {
	padding: 0.5em;
	background-color: red;
	color: white;
} 

.whiteMenuItem .ui-menuitem-text {
	padding: 0.5em;
	background-color: white;
	color: black;
} 

/*
 #####    ####    #####    ##     #####  ######
 #    #  #    #     #     #  #      #    #
 #    #  #    #     #    #    #     #    #####
 #####   #    #     #    ######     #    #
 #   #   #    #     #    #    #     #    #
 #    #   ####      #    #    #     #    ######
*/

/* Styles for rotateTableCellContent plugin*/
table div.rotated {
  -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */    
}

thead th {
  vertical-align:bottom;
}

table .vertical {
  white-space:nowrap;
  background-color:white;
}