.ui-commandlink:focus{
    color: red !important; 
    font-size: large !important; 
    text-decoration: underline !important;
    border: dotted !important;
}

.ui-button:focus{
    color: red !important; 
    font-size: large !important; 
    text-decoration: underline !important;
    border: dotted !important;
}

.ui-widget-content{
    color: black;
}

.ui-fieldset .ui-fieldset-legend{
    background: transparent !important;
}

.borderlessPanelGrid tr, .borderlessPanelGrid td {
    border: none !important;
}

.grayPanelGrid, .grayPanelGrid td {
    font-weight: bold !important;
    color: white !important;
    background-color: lightgray !important;
}

.whitePanelGrid, .whitePanelGrid td {
    font-weight: normal !important;
    color: black !important;
    background-color: white !important;
}

/* menus size by content */

ul.ui-menu-child {
    white-space: nowrap;
    width: auto !important;
}

.ui-menuitem-text {
    padding-left: 10px;
}

/* Styles for rotateTableCellContent plugin*/
table div.rotated {

    -ms-transform:rotate(270deg); /* IE 9 */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -o-transform:rotate(270deg); /* Opera */
    
}

thead th {
    vertical-align:top;
}

table .vertical {
    white-space:nowrap;
    background-color:white;
}